/* 
    --------------------------------
    Styling for the search.html page
    --------------------------------
*/
@keyframes bgColor {
    0% {
        box-shadow:0px 0px 50px 5px #ff0000;
    }
    33% {
        box-shadow:0px 0px 50px 5px #00ff00;
    }
    67% {
        box-shadow:0px 0px 50px 5px #0000ff;
    }
    100% {
        box-shadow:0px 0px 50px 5px #ff0000;
    }
}
@keyframes pulse {
    0% {
        transform:scale(1);
    }
    50% {
        transform:scale(1.1);
    }
    100% {
        transform:scale(1);
    }
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
    font-family: "trebuchet ms", sans-serif;
    background-image: url('background.png');
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
    width: 50%;
    height: 65%;
    background-color: rgba(255, 0, 0, 0.5);
    border-style: solid;
    border-color: red;
    animation: bgColor 5s infinite linear;
}
.search_upc_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    height: 50%;
    width: 50%;
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.5);
    background-color: rgba(128, 245, 254, 0.61);
    border-radius: 30px;
}
.search_upc_header {
    text-align: center;
}
.search_upc_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}
.search_upc_input {
    padding: 10px;
    margin-bottom: 10px;
    border-style: none none none solid;
    border-color: white;
    background-color: black;
    color: white;
    height: 10%;
    width: 100%;
    transition: 0.3s;
    transition-timing-function: ease;
}
.search_upc_input:focus {
    outline: none;
    border-left: none;
    border-bottom: black 3px solid;
    margin-bottom: 9px;
    background-color: white;
    color: black;
}
.search_upc_input::placeholder {
    color: white;
    transition: 0.3;
    transition-timing-function: ease;
}
.search_upc_button {
    background-color: #111;
    transition: 0.3s;
    transition-timing-function: ease;
    width: 75%;
    display: inline-block;
    margin: 0 .2% 0 .2%;
    font-weight: 1000;
    font-size: 1.5em;
    border: 5px solid #050505;
    padding:25 0 25 0;
    height:100%;
    color:white;
    margin:auto;
    text-align:center;
    animation: pulse 2.5s infinite linear;
}
.search_upc_button:hover {
    background-color:#44bbee;
    translate:0 10px;
    border-radius: 30px;
}
.result {
    padding: 2%;
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.5);
    background-color: rgba(128, 245, 254, 0.61);
    border-radius: 30px;
}
.error {
    color: rgb(131, 0, 0);
}